<header class="header">
  <div class="header__container container">
    <nav class="header__menu">
      <a href="" class="header__logo link">
        <svg class="header__icon">
          <use href="./images/icons.svg#icon-film"></use>
        </svg>
        <span class="header__logo-word">Filmoteka</span>
      </a>
      <ul class="header__list list">
        <li><a class="page-home header__link_current link " href="">HOME</a></li>
        <li><a class="page-library link" href="#">MY LIBRARY</a></li>
      </ul>
    </nav>
    <div></div>

    <div class="header-functional">
      <input type="text" />
    </div>
    <div class="genres-menu--container">
      <div class="genres-menu--dropdown">
        <button class="genres-filter-btn" type="button">SORT BY GENRES</button>
        <div class="visually-hidden filter-hidden-container">
          <p class="genres-menu--all genres-menu--link">ALL GENRES</p>
          <ul class="genres-menu--box list"></ul>
        </div>
      </div>
    </div>
  </div>
</header>
