<!-- <h1>This is Deemon`s partial</h1> -->
<div class="films-container"></div>
<div id="preloader" class="visible"></div>
<div class="backdrop is-hidden" team-modal>
  <div class="modal team__modal">
    <div class="modal__iconwrapper" team-modal-close>
      <button class="js-close-info">
        <svg class="modal__icon" width="20" height="20">
          <use href="./images/sprite.svg#icon-close" class="button-close-modal"></use>
        </svg>
      </button>
    </div>
    <div class="team">
      <h2 class="team__logo">
        <span class="team__part">#fff</span>code <span class="team__part--team">team</span>
      </h2>
      <div class="team__container">
        <ul class="list team__list">
          <li class="team__item">
            <div class="team__img-wrapper">
              <img
                class="team__img"
                src="/images/team/dubnianskaya.jpg"
                alt="dubnianskaya"
                width="100"
                height="100"
              />
            </div>
            <p class="team__name">Marina<br /><span class="team__secondname">Dubnianskaya</span></p>
            <p class="team__prof">developer</p>
            <p class="team__tech">
              <span class="team__skill">javascript</span><span class="team__skill">html</span
              ><span class="team__skill">css</span>
            </p>
            <ul class="list social">
              <li class="social__item">
                <a class="link social__link" href="https://github.com/Dubnianskaya" target="_blank">
                  <svg class="social__icon" width="20" height="20">
                    <use href="/images/sprite_social.svg#github" />
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a class="link social__link" href="#" target="_blank">
                  <svg class="social__icon" width="20" height="20">
                    <use href="/images/sprite_social.svg#linkedin" />
                  </svg>
                </a>
              </li>
            </ul>
          </li>
          <li class="team__item">
            <div class="team__img-wrapper">
              <img
                class="team__img"
                src="/images/team/zakrevskaya.jpg"
                alt="zakrevskaya"
                width="100"
                height="100"
              />
            </div>
            <p class="team__name">Marina<br /><span class="team__secondname">Zakrevskaya</span></p>
            <p class="team__prof">developer / scrum</p>
            <p class="team__tech">
              <span class="team__skill">javascript</span><span class="team__skill">html</span
              ><span class="team__skill">css</span>
            </p>
            <ul class="list social">
              <li class="social__item">
                <a
                  class="link social__link"
                  href="https://github.com/Maryna-Zakrevska"
                  target="_blank"
                >
                  <svg class="social__icon" width="20" height="20">
                    <use href="/images/sprite_social.svg#github" />
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a class="link social__link" href="#" target="_blank">
                  <svg class="social__icon" width="20" height="20">
                    <use href="/images/sprite_social.svg#linkedin" />
                  </svg>
                </a>
              </li>
            </ul>
          </li>
          <li class="team__item">
            <div class="team__img-wrapper">
              <img
                class="team__img"
                src="/images/team/dvornick.jpg"
                alt="dvornick"
                width="100"
                height="100"
              />
            </div>
            <p class="team__name">Ksenia<br /><span class="team__secondname">Dvornick</span></p>
            <p class="team__prof">developer</p>
            <p class="team__tech">
              <span class="team__skill">javascript</span><span class="team__skill">html</span
              ><span class="team__skill">css</span>
            </p>
            <ul class="list social">
              <li class="social__item">
                <a class="link social__link" href="https://github.com/KseniaLF" target="_blank">
                  <svg class="social__icon" width="20" height="20">
                    <use href="/images/sprite_social.svg#github" />
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a class="link social__link" href="#" target="_blank">
                  <svg class="social__icon" width="20" height="20">
                    <use href="/images/sprite_social.svg#linkedin" />
                  </svg>
                </a>
              </li>
            </ul>
          </li>
          <li class="team__item">
            <div class="team__img-wrapper">
              <img
                class="team__img"
                src="/images/team/yershov.jpg"
                alt="yershov"
                width="100"
                height="100"
              />
            </div>
            <p class="team__name">Oleksandr<br /><span class="team__secondname">Yershov</span></p>
            <p class="team__prof">developer</p>
            <p class="team__tech">
              <span class="team__skill">javascript</span><span class="team__skill">html</span
              ><span class="team__skill">css</span>
            </p>
            <ul class="list social">
              <li class="social__item">
                <a
                  class="link social__link"
                  href="https://github.com/Alexander-Yershov"
                  target="_blank"
                >
                  <svg class="social__icon" width="20" height="20">
                    <use href="/images/sprite_social.svg#github" />
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a class="link social__link" href="#" target="_blank">
                  <svg class="social__icon" width="20" height="20">
                    <use href="/images/sprite_social.svg#linkedin" />
                  </svg>
                </a>
              </li>
            </ul>
          </li>
          <li class="team__item">
            <div class="team__img-wrapper">
              <img
                class="team__img"
                src="/images/team/lesiv.jpg"
                alt="lesiv"
                width="100"
                height="100"
              />
            </div>
            <p class="team__name">Aleksandr<br /><span class="team__secondname">Lesiv</span></p>
            <p class="team__prof">developer</p>
            <p class="team__tech">
              <span class="team__skill">javascript</span><span class="team__skill">html</span
              ><span class="team__skill">css</span>
            </p>
            <ul class="list social">
              <li class="social__item">
                <a
                  class="link social__link"
                  href="https://github.com/Lesiv-Aleksandr"
                  target="_blank"
                >
                  <svg class="social__icon" width="20" height="20">
                    <use href="/images/sprite_social.svg#github" />
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a class="link social__link" href="#" target="_blank">
                  <svg class="social__icon" width="20" height="20">
                    <use href="/images/sprite_social.svg#linkedin" />
                  </svg>
                </a>
              </li>
            </ul>
          </li>
          <li class="team__item">
            <div class="team__img-wrapper">
              <img
                class="team__img"
                src="/images/team/krivenko.jpg"
                alt="krivenko"
                width="100"
                height="100"
              />
            </div>
            <p class="team__name">Lyuda<br /><span class="team__secondname">Krivenko</span></p>
            <p class="team__prof">developer</p>
            <p class="team__tech">
              <span class="team__skill">javascript</span><span class="team__skill">html</span
              ><span class="team__skill">css</span>
            </p>
            <ul class="list social">
              <li class="social__item">
                <a class="link social__link" href="https://github.com/Lyutink" target="_blank">
                  <svg class="social__icon" width="20" height="20">
                    <use href="/images/sprite_social.svg#github" />
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a class="link social__link" href="#" target="_blank">
                  <svg class="social__icon" width="20" height="20">
                    <use href="/images/sprite_social.svg#linkedin" />
                  </svg>
                </a>
              </li>
            </ul>
          </li>
          <li class="team__item">
            <div class="team__img-wrapper">
              <img
                class="team__img"
                src="/images/team/kaliuzhnaya.jpg"
                alt="kaliuzhnaya"
                width="100"
                height="100"
              />
            </div>
            <p class="team__name">Aliona<br /><span class="team__secondname">Kaliuzhnaya</span></p>
            <p class="team__prof">developer</p>
            <p class="team__tech">
              <span class="team__skill">javascript</span><span class="team__skill">html</span
              ><span class="team__skill">css</span>
            </p>
            <ul class="list social">
              <li class="social__item">
                <a
                  class="link social__link"
                  href="https://github.com/alionakaliuzhnaya"
                  target="_blank"
                >
                  <svg class="social__icon" width="20" height="20">
                    <use href="/images/sprite_social.svg#github" />
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a class="link social__link" href="#" target="_blank">
                  <svg class="social__icon" width="20" height="20">
                    <use href="/images/sprite_social.svg#linkedin" />
                  </svg>
                </a>
              </li>
            </ul>
          </li>
          <li class="team__item">
            <div class="team__img-wrapper">
              <img
                class="team__img"
                src="/images/team/testa.jpg"
                alt="testa"
                width="100"
                height="100"
              />
            </div>
            <p class="team__name">Kateryna<br /><span class="team__secondname">Testa</span></p>
            <p class="team__prof">developer</p>
            <p class="team__tech">
              <span class="team__skill">javascript</span><span class="team__skill">html</span
              ><span class="team__skill">css</span>
            </p>
            <ul class="list social">
              <li class="social__item">
                <a
                  class="link social__link"
                  href="https://github.com/KaterynaTesta"
                  target="_blank"
                >
                  <svg class="social__icon" width="20" height="20">
                    <use href="/images/sprite_social.svg#github" />
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a class="link social__link" href="#" target="_blank">
                  <svg class="social__icon" width="20" height="20">
                    <use href="/images/sprite_social.svg#linkedin" />
                  </svg>
                </a>
              </li>
            </ul>
          </li>
          <li class="team__item">
            <div class="team__img-wrapper">
              <img
                class="team__img"
                src="/images/team/vorobei.jpg"
                alt="vorobei"
                width="100"
                height="100"
              />
            </div>
            <p class="team__name">Yevhen<br /><span class="team__secondname">Vorobei</span></p>
            <p class="team__prof">developer</p>
            <p class="team__tech">
              <span class="team__skill">javascript</span><span class="team__skill">html</span
              ><span class="team__skill">css</span>
            </p>
            <ul class="list social">
              <li class="social__item">
                <a class="link social__link" href="https://github.com/jekvodogrei" target="_blank">
                  <svg class="social__icon" width="20" height="20">
                    <use href="/images/sprite_social.svg#github" />
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a class="link social__link" href="#" target="_blank">
                  <svg class="social__icon" width="20" height="20">
                    <use href="/images/sprite_social.svg#linkedin" />
                  </svg>
                </a>
              </li>
            </ul>
          </li>
          <li class="team__item">
            <div class="team__img-wrapper">
              <img
                class="team__img"
                src="/images/team/makedon.jpg"
                alt="makedon"
                width="100"
                height="100"
              />
            </div>
            <p class="team__name">Alex<br /><span class="team__secondname">Makedon</span></p>
            <p class="team__prof">developer / scrum</p>
            <p class="team__tech">
              <span class="team__skill">javascript</span><span class="team__skill">html</span
              ><span class="team__skill">css</span>
            </p>
            <ul class="list social">
              <li class="social__item">
                <a class="link social__link" href="https://github.com/Makedon-KIEV" target="_blank">
                  <svg class="social__icon" width="20" height="20">
                    <use href="/images/sprite_social.svg#github" />
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a class="link social__link" href="#" target="_blank">
                  <svg class="social__icon" width="20" height="20">
                    <use href="/images/sprite_social.svg#linkedin" />
                  </svg>
                </a>
              </li>
            </ul>
          </li>
          <li class="team__item">
            <div class="team__img-wrapper">
              <img
                class="team__img"
                src="/images/team/deemon.jpg"
                alt="fedorenko"
                width="100"
                height="100"
              />
            </div>
            <p class="team__name">Dmitriy<br /><span class="team__secondname">Fedorenko</span></p>
            <p class="team__prof">developer / team lead</p>
            <p class="team__tech">
              <span class="team__skill">javascript</span><span class="team__skill">html</span
              ><span class="team__skill">css</span>
            </p>
            <ul class="list social">
              <li class="social__item">
                <a class="link social__link" href="https://github.com/Deemon13" target="_blank">
                  <svg class="social__icon" width="20" height="20">
                    <use href="/images/sprite_social.svg#github" />
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a class="link social__link" href="#" target="_blank">
                  <svg class="social__icon" width="20" height="20">
                    <use href="/images/sprite_social.svg#linkedin" />
                  </svg>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <p class="team__projects">
        Team projects: <br />
        <a
          class="link team__link"
          href="https://deemon13.github.io/team15-project-3dmode/"
          target="_blank"
          >Webstudio Freedom</a
        >
      </p>
    </div>
  </div>
</div>
