.footer {
  width: 100vw;
  font-family: var(--main-font-regular);
  font-style: var(--main-text-weight);
  font-size: var(--secondary-text-size);
  color: #545454;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #f7f7f7;
}

.footer-heart__icon {
  width: 14px;
  height: 14px;
  fill: #ff6b08;
  margin-left: 5px;
  margin-right: 5px;
}

.footer__link {
  color: #545454;
  text-decoration: underline;
}

.footer__list {
  flex-wrap: wrap;
  list-style: none;
  display: flex;
  justify-content: center;
}
.footer__list-item {
  display: flex;
}

//========= 768+ =============
@media screen and (min-width: 768px) {
  .footer {
    font-size: var(--main-text-size);
  }
}
